@page "/Doimatkhau"


<div class="form-outline mb-3">
    <label class="form-label" for="form3Example4">Mật Khẩu cũ</label>
    <input type="password" id="form3Example4" class="form-control form-control-lg"
           placeholder="nhập mật khẩu cũ" />

</div>
<div class="form-outline mb-3">
    <label class="form-label" for="form3Example4">Mật Khẩu mới</label>
    <input type="password" id="form3Example4" class="form-control form-control-lg"
           placeholder="nhập mật khẩu mới" />

</div>
<div class="form-outline mb-3">
    <label class="form-label" for="form3Example4">Xác nhận mật khẩu</label>
    <input type="password" id="form3Example4" class="form-control form-control-lg"
           placeholder="xác nhận mật khẩu" />

</div>
<div class="form-group">

    <button type="submit" class=" btn btn-info">Lưu </button>
    <button type="submit" class=" btn btn-info">Thoát </button>

</div>
