@page "/cart"
@layout WebLayout;

    <div class="row  mt-50">
        <div class="col-12 col-lg-7 ">
            <div class="single_product_thumb">
                <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(template/img/product-img/pro-big-1.jpg);">
                        </li>
                        <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(template/img/product-img/pro-big-2.jpg);">
                        </li>
                        <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(template/img/product-img/pro-big-3.jpg);">
                        </li>
                        <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(template/img/product-img/pro-big-4.jpg);">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                <img class="d-block w-100" src="template/img/product-img/pro-big-1.jpg" alt="First slide">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="gallery_img" href="img/product-img/pro-big-2.jpg">
                                <img class="d-block w-100" src="template/img/product-img/pro-big-2.jpg" alt="Second slide">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="gallery_img" href="img/product-img/pro-big-3.jpg">
                                <img class="d-block w-100" src="template/img/product-img/pro-big-3.jpg" alt="Third slide">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a class="gallery_img" href="img/product-img/pro-big-4.jpg">
                                <img class="d-block w-100" src="template/img/product-img/pro-big-4.jpg" alt="Fourth slide">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="single_product_desc">
                <!-- Product Meta Data -->
                <div class="product-meta-data">
                    <div class="line"></div>
                    <p class="product-price">Giá: $180</p>
                    <p class="product-price">Giảm giá: $180</p>
                    <a href="product-details.html">
                        <h6>Tên Sản Phẩm</h6>
                    </a>
                    <!-- Ratings & Review -->
                    <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                        <MudCardActions>
                            <MudIconButton Icon="@Icons.Material.Filled.Favorite" Color="Color.Default" />
                            <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" />
                        </MudCardActions>
                    </div>
                    <!-- Avaiable -->
                </div>

                <div class="short_overview my-5">
                    <p>Một vài điểm nổi bật của sản phẩm</p>
                </div>

                <!-- Add to Cart Form -->
                <form class="cart clearfix" method="post">
                    <div class="cart-btn d-flex mb-50">
                        <p>Số Lượng</p>
                        <div class="quantity ml-3">
                            <input type="number" class="qty-text w-100" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                        </div>
                    </div>
                    <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                </form>

            </div>
        </div>
    </div>