@layout WebLayout;
@page "/chitietdonhang"
    <div class="cart-table-area ">
        <div class="container-fluid">
            <div class="row">
                <div class="cart-table clearfix">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tên Sản Phẩm</th>
                                <th>Giá</th>
                                <th>Số Lượng</th>
                                <th>Số Lượng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="cart_product_img">
                                    <a href="#"><img src="template/img/bg-img/cart1.jpg" alt="Product"></a>
                                </td>
                                <td class="cart_product_desc">
                                    <h5>White Modern Chair</h5>
                                </td>
                                <td class="price">
                                    <span>$130</span>
                                </td>
                                <td class="qty">
                                    <div class="qty-btn d-flex">
                                        <p>Số</p>
                                        <div class="quantity">
                                            <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
