@page "/"
@layout WebLayout;
<div class="col-9 mt-30">
    <div>
        <div class="text-center">
            <h3 class="h2">Những mặt hàng nổi bật</h3>
            <p>
                Đây là những mặt hàng đang được ưa chuộng nhất hiện nay tại shop
            </p>
        </div>
        <div class="d-inline-flex">
            <div class="card-group">
                <div class="single-products-catagory clearfix">
                    <a href="shop.html">
                        <img width="300px" src="template/img/bg-img/1.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>GIá: $180</p>
                            <h4>Quần Tay</h4>
                        </div>
                    </a>
                </div>
                <div class="single-products-catagory clearfix">
                    <a href="shop.html">
                        <img width="300px" src="template/img/bg-img/1.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>GIá: $180</p>
                            <h4>Quần Tay</h4>
                        </div>
                    </a>
                </div>
                <div class="single-products-catagory clearfix">
                    <a href="shop.html">
                        <img src="template/img/bg-img/1.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>GIá: $180</p>
                            <h4>Quần Tay</h4>
                        </div>
                    </a>
                </div>
                <div class="single-products-catagory clearfix">
                    <a href="shop.html">
                        <img src="template/img/bg-img/1.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>GIá: $180</p>
                            <h4>Quần Tay</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

