@page "/loaisanphamlist"

<a class="btn btn-success p-10" href="/loaisanphamcreate">Thêm</a>
<table class="table table-dark table-striped mt-3">
    <thead>
        <tr class="text-center">
            <th scope="col">Mã Loại</th>
            <th scope="col">Tên Loại</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>01</td>
            <td>Giày Nam</td>
            <td>
                <a class="btn btn-info">Sửa</a> |
                <a class="btn btn-warning">Xem</a>
            </td>
        </tr>
    </tbody>
</table>
