@page "/quatrilist"

<a class="btn btn-success p-10" href="/quantricreate">Thêm</a>
<table class="table table-dark table-striped mt-3">
    <thead>
        <tr class="text-center">
            <th scope="col">Mã Quản Trị</th>
            <th scope="col">Họ Tên</th>
            <th scope="col">User Name</th>
            <th scope="col">PassWord</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center">
            <td>1</td>
            <td>Admin</td>
            <td>UserName</td>
            <td>UserName</td>
            <td>
                <a class="btn btn-info">Sửa</a> |
                <a class="btn btn-warning">Xem</a>
            </td>
        </tr>
    </tbody>
</table>
