<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">R4Clothes.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="khachhanglist">
                <span class="oi oi-plus" aria-hidden="true"></span> Danh Sách Khách Hàng
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sanphamlist">
                <span class="oi oi-plus" aria-hidden="true"></span> Danh Sách Sản Phẩm
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loaisanphamlist">
                <span class="oi oi-plus" aria-hidden="true"></span> Loại Sản Phẩm
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="donhanglist">
                <span class="oi oi-plus" aria-hidden="true"></span> Đơn Hàng
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="quatrilist">
                <span class="oi oi-plus" aria-hidden="true"></span> Quản Trị
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Dangnhap">
                <span class="oi oi-plus" aria-hidden="true"></span> Đăng Nhập
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Doimatkhau">
                <span class="oi oi-plus" aria-hidden="true"></span> Đổi Mật Khẩu
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Thongke">
                <span class="oi oi-plus" aria-hidden="true"></span> Thống Kê
            </NavLink>
        </li>
        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
